.listado-box {
    max-width: 800px;
    margin: auto;
    padding: 30px;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    color: #555;
}

.listado-box table {
    width: 100%;
    line-height: inherit;
    text-align: left;
}
.listado-box table.table-header td {
    padding: 5px;
    vertical-align: top;
}
.listado-box table.table-header tr td:nth-child(2) {
    text-align: right;
}

.listado-box table.table-header tr.top table td {
    padding-bottom: 20px;
}
.listado-box table.table-header tr.top table td.title {
    font-size: 45px;
    line-height: 45px;
    color: #333;
}

.image-style {
    padding: 10%;
}

.imgWrapper3 {
    font-size: 0;
    text-align: center;
}
.imgWrapper3 .imgResponsiva {
    display: inline-block;
    font-size: inherit;
}
.imgWrapper3 .imgResponsiva {width: 33.3%; max-width: 345px;}

.imgResponsiva img {
    height: auto;
    width: 100%;
}

#photo-container {
    line-height: 0;
    -webkit-column-count: 5;
    -moz-column-count: 5;
    column-count: 5;
}

#photo-container .photo {
    display: block;
    width: 100% !important;
    height: auto !important;
    margin-bottom: 20px;
}

#photo-container .photo img {
    width: 100% !important;
    height: auto !important;
}